@charset "UTF-8";

/* Cores: (Verde)
#C5EBD6 -bem claro
#84E1AD -claro
#2FA866 -leve escurinho
#1A5C38 -escuro
*/
body {
    background-color: #84E1AD;
}

header { 
    background-image: linear-gradient(#3CD782, #2FAC66, #247E4A, #1A5C36);
    color: white;
}

div#titulo {
    text-align: center;
}

a {
    color: white;
}




main {
    background-color: white;
}

footer {
    background-color: #1A5C38;
    color: white;
    text-align: center;
}